body{
    margin: 10%;
    font-family: Arial, Helvetica, sans-serif;
    /* we are forcing the default font size of the page to 16px */
    font-size: 16px;
    /* font-weight: 800; */
    /* text-transform: uppercase; */
    color: #222;
    background-color: #fff;
}

h1{
    /* margin is what is on the outside of the text */
    margin:  0 0 1.5rem 0;
    /* background-color: aquamarine; */
    /* the padding is the iniside of the text */
    padding: 20px;
    font-family: "Franklin ITC, sans-serif";
    text-transform: uppercase;
    line-height: 4rem;
    font-weight: 800;
}

header{
    font-size: 2rem;
    padding: 20px;
    background-image: url("../images/bread.jpg");
    background-repeat: no-repeat;
    background-position: 20px 40px;
    color: #fff;
    width: 100%;
}

p{
    /* since we specified in the body that font size is = to 16px then 1 rem is equivalent to 16px */
    /* font-size: 2rem; */
    margin-bottom: 24px;    
    margin-top: 0px;
}

h2{
    font-size: 24px;
    color: #ba3925;
    margin-top: 36px;
    margin-bottom: 12px;
}

div{
    background-image: url("../images/white_brick_wall.png");
    /* background-repeat: no-repeat; */
}